* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  padding: 0 5%;
  margin: 0;
  z-index: 2;
  background-color: white;
}

nav .bloqueUno {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.boton {
  font-size: 23px;
  margin-right: 5%;
  visibility: hidden;
}

nav .bloqueDos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .bloqueDos .list-uno {
  display: flex;
  align-items: center;
  margin: 0;
}

nav .bloqueDos .list-uno li {
  margin: 0 10px;
}

nav .bloqueDos .list-uno li a {
  text-decoration: none;
  color: #888;
  font-size: 13px;
  padding: 10px;
}

nav .bloqueDos .list-uno li a:hover {
  transition: 0.5s;
  border-radius: 10px;
  color: black;
}

nav .bloqueDos .list-dos {
  display: flex;
  align-items: center;
}

nav .bloqueDos .list-dos li {
  margin: 0 5px;
}

nav .bloqueDos .list-dos a {
  color: #888;
  font-size: 14px;
  cursor: pointer;
}

nav .bloqueDos .list-dos a:hover {
  color: #219653;
  transition: 0.5s;
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
  }

  .bloqueUno {
    padding: 0 5%;
    position: relative;
    top: 5px;
  }

  .bloqueDos {
    flex-direction: column;
    padding: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    position: relative;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: -1;
    border-top: 1px solid #ccc;
  }

  .bloqueDos.show {
    top: -500px;
  }

  .list-uno {
    flex-direction: column;
  }
  .list-uno li {
    padding: 5px;
  }

  .list-dos {
    margin: 10px 0 0 0;
  }

  .boton {
    visibility: visible;
  }
  .boton i {
    color: black;
    font-size: 25px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: white;
  }

  .bloqueUno {
    padding: 0 5% 2% 5%;
    position: relative;
    top: 5px;
  }
  .bloqueUno img {
    width: 100px;
  }

  .bloqueDos {
    flex-direction: column;
    padding: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    position: relative;
    top: -2px;
    transition: 0.5s ease-in-out;
    z-index: -1;
    border-top: 1px solid #ccc;
  }

  .bloqueDos.show {
    top: -500px;
  }

  .list-uno {
    flex-direction: column;
  }
  .list-uno li {
    padding: 5px;
  }

  .list-dos {
    margin: 10px 0 0 0;
  }

  .boton {
    visibility: visible;
  }
  .boton i {
    color: black;
    font-size: 15px;
  }
}
footer {
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
footer .logo-foot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .logo-foot p {
  font-size: 14px;
  font-weight: 200;
  color: #888;
}
footer .logo-foot .list-redes-foot {
  display: flex;
  align-items: center;
}
footer .logo-foot .list-redes-foot li {
  margin: 10px;
}
footer .logo-foot .list-redes-foot li a {
  color: #888;
  cursor: pointer;
}
footer .logo-foot .list-redes-foot li a:hover {
  transition: 0.5s;
  color: black;
}
footer .foot {
  width: 100%;
  padding: 30px 0;
}
footer .foot ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .foot ul li a {
  margin: 0 10px;
  padding: 0 20px;
  color: black;
  font-size: 12px;
}
footer .foot ul li .ultimo {
  border-right: 0;
}

/*---------------------------FOOTER----------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  .foot ul {
    flex-direction: column;
    border-top: 1px solid rgba(204, 204, 204, 0.596);
    border-bottom: 1px solid rgba(204, 204, 204, 0.616);
    padding: 10;
  }
  .foot ul li a {
    text-decoration: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .logo-foot {
    text-align: center;
  }
  .logo-foot img {
    width: 130px;
  }

  .foot ul {
    flex-direction: column;
    border-top: 1px solid rgba(204, 204, 204, 0.596);
    padding: 10;
  }
  .foot ul li a {
    text-decoration: none;
  }
}
.ubicacion {
  width: 100%;
  padding: 0;
  margin: 0;
}
.ubicacion .maps {
  width: 100%;
}

.text-ubi {
  width: 100%;
  padding: 5%;
}
.text-ubi .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text-ubi .info .wid {
  padding: 10px;
  width: 100%;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px rgba(46, 139, 86, 0.973) inset;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
}
.text-ubi .info .wid h3 {
  font-size: 15px;
}
.text-ubi .info .wid p {
  font-size: 14px;
  color: #888;
}
.text-ubi .info .wid i {
  color: #219653;
  margin-right: 5px;
}
.text-ubi .info .wid:hover h3 {
  transition: 0.5s;
  color: black;
}
.text-ubi .info .wid:hover p {
  transition: 0.5s;
  color: white;
}
.text-ubi .info .wid:hover i {
  transition: 0.5s;
  color: #1e702b;
}
.text-ubi .info .wid:hover {
  box-shadow: 0px -100px rgba(46, 139, 86, 0.973) inset;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .info {
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .info {
    flex-direction: column;
  }
}

/*# sourceMappingURL=contacto.css.map */
